{% if java_template_use_cow %}
#  --------------------
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||
{% else %}
# {{ ansible_managed }}
{% endif %}

[general]
vendor = "Stime"
vendor_url = "http://www.mousquetaires.com"
vendor_gitlab = "http://git-stime.mousquetaires.com"
java_home={{ java_install_dir }}/{{ java_oracle_version_str_pkg }}
version={{ java_oracle_version }}
distribution={{ java_oracle_distribution }}