{%- if java_oracle_distribution == 'jdk' -%}
{{ java_oracle_redis_jdk_sha256sum }} *{{ lib_persistent_data_path_local }}/{{ java_oracle_redis_filename }}
{%- endif %}
{% if java_oracle_distribution == 'jre' -%}
{{ java_oracle_redis_jre_sha256sum }} *{{ lib_persistent_data_path_local }}/{{ java_oracle_redis_filename }}
{%- endif %}
{% if java_oracle_distribution == 'srv' -%}
{{ java_oracle_redis_srv_sha256sum }} *{{ lib_persistent_data_path_local }}/{{ java_oracle_redis_filename }}
{%- endif %}

{{ java_oracle_redis_jce_sha256sum }} *{{ lib_persistent_data_path_local }}/{{ java_oracle_redis_jce_filename }}